001
{
  "name": "GitHub Trending to Email",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 8
            }
          ]
        }
      },
      "id": "cron-node",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://ghapi.huchen.dev/repositories?since=daily",
        "responseFormat": "json",
        "options": {}
      },
      "id": "http-node",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "your@email.com",
        "subject": "GitHub Trending",
        "text": "={{$json[\"0\"].name}}: {{$json[\"0\"].url}}"
      },
      "id": "email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Cron": { "main": [ [ { "node": "HTTP Request", "type": "main", "index": 0 } ] ] },
    "HTTP Request": { "main": [ [ { "node": "Send Email", "type": "main", "index": 0 } ] ] }
  }
}
